/* Primary Color */
/* Neutral Color */
/* Font size */
/* 14px */
/* 18px */
/* Break Points */
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #9698a6;
  line-height: 1.3;
  overflow-x: hidden;
}

#overlay {
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(#2d314d, transparent);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
#overlay.open {
  display: block;
  opacity: 1;
}

/* Container */
.container {
  position: relative;
  max-width: 69.375rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.container--pall {
  padding: 0 1.5rem;
}

/* Flexbox */
.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-ai-c {
  align-items: center;
}

/* Request button */
.request-btn {
  position: relative;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  padding: 0.875rem 2.1875rem;
  border-radius: 50px;
  color: white;
  background: #8e0e00;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #31d35c, #2bb7da);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #31d35c, #2bb7da);
}
.request-btn:hover::before {
  opacity: 1;
}
.request-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 0;
  transition: color 300ms ease-in-out;
}

/* Break Points/Responsive */
@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

/* Primary Color */
/* Neutral Color */
/* Font size */
/* 14px */
/* 18px */
/* Break Points */
#header {
  position: relative;
  background-color: white;
}
#header .header__nav {
  position: relative;
  padding: 1.0625rem 0;
}
#header .header__nav .header__brand {
  padding-bottom: 0.0625rem;
}
#header .header__nav .header__brand a img {
  width: 8.8125rem;
  height: 1.375rem;
}
#header .header__nav .header__menu {
  padding: 0.21875rem 0;
}
#header .header__nav .header__menu a {
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  color: #9698a6;
}
#header .header__nav .header__menu a::before {
  content: "";
  position: absolute;
  bottom: -32px;
  left: 0;
  right: 0;
  width: 100%;
  height: 5px;
  background: #8e0e00;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #31d35c, #2bb7da);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #31d35c, #2bb7da);
  transition: opacity 300ms ease-in-out;
  opacity: 0;
}
#header .header__nav .header__menu a:hover {
  color: #2d314d;
}
#header .header__nav .header__menu a:hover::before {
  opacity: 1;
}
#header .header__nav .header__menu a:not(:last-child) {
  margin-right: 1.75rem;
}
#header .header__nav .hamburger-btn {
  position: relative;
  cursor: pointer;
}
#header .header__nav .hamburger-btn span {
  display: block;
  width: 27px;
  height: 2px;
  background-color: black;
  transition: 400ms;
}
#header .header__nav .hamburger-btn span:nth-child(1).change {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-4px, 7px);
}
#header .header__nav .hamburger-btn span:nth-child(2).change {
  opacity: 0;
}
#header .header__nav .hamburger-btn span:last-child.change {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-3px, -6px);
}
#header .header__nav .hamburger-btn span:not(:last-child) {
  margin-bottom: 5px;
}
#header .menu-block {
  position: absolute;
  display: none;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  border-radius: 5px;
  background-color: white;
  z-index: 99;
}
#header .menu-block.open {
  display: block;
}
#header .menu-block div {
  padding: 1.5625rem 0;
}
#header .menu-block div a {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  padding: 0.6875rem 0;
  margin: 0 1.5625rem;
  color: #2d314d;
}

#hero {
  background-color: #fafafa;
}
#hero .hero__content {
  padding-top: 9.5rem;
  max-width: 29.5em;
  align-items: baseline;
}
#hero .hero__content h1 {
  margin: 1.3125rem 0;
  font-size: 3.25rem;
  font-weight: 300;
  line-height: 1.15;
  color: #2d314d;
}
#hero .hero__content p {
  margin-bottom: 2.0625rem;
  margin-right: 1.5rem;
  padding: 0.1875rem 0;
  text-align: left;
  font-size: 1.125rem;
  line-height: 1.5;
}
#hero .hero__image {
  position: relative;
  height: 17.5rem;
  background-image: url("/clone-website/easy-bank/assets/images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#hero .hero__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("/clone-website/easy-bank/assets/images/image-mockups.png");
  background-repeat: no-repeat;
  background-size: 93%;
  background-position: center bottom;
}

/*# sourceMappingURL=style.css.map */
